<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SubModelAssignment -->
      <package
            uri="http://www.uni_marburg.de/splittr/result/"
            class="de.uni_marburg.splittr.splittrResult.SplittrResultPackage"
            genModel="model/SubModelAssignment.genmodel"/>
   </extension>

</plugin>
